---
import slug from "slug";
import type { FilmRecord } from "../utils/type";

interface Props {
  film: FilmRecord;
}

const film = Astro.props.film;
---

<a href={`/films/${film.id}-${slug(film.titre ?? "Inconnu")}`}>{film.titre}</a>
