---
import Layout from "../../../layout/Layout.astro";
import { PersonneProfessionOptions } from "../../../utils/type";

export const prerender = false;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  data.append("user", Astro.locals.pb.authStore.record?.id);

  console.log(data);

  const record = await Astro.locals.pb.collection("personne").create(data);

  return Astro.redirect(`/personnes/${record.id}`);
}
---

<Layout>
  <h1>Ajouter une personne</h1>
  <form method="POST">
    <label class="block">
      <span>Nom</span>
      <input
        name="nom"
        type="text"
        class="mt-1 block w-full"
        placeholder="Nom"
      />
    </label>

    <label class="block">
      <span>Prénom</span>
      <input
        name="prenom"
        type="text"
        class="mt-1 block w-full"
        placeholder="Prénom"
      />
    </label>

    <label class="block">
      <span>Date de naissance</span>
      <input name="date_naissance" type="date" class="mt-1 block w-full" />
    </label>

    <label class="block">
      <span>Date de décès</span>
      <input name="date_deces" type="date" class="mt-1 block w-full" />
    </label>

    <label class="block">
      <span>Nationalité</span>
      <input
        name="nationalite"
        type="text"
        class="mt-1 block w-full"
        placeholder="Nationalité"
      />
    </label>

    <label class="block">
      <span>Lieu de naissance</span>
      <input
        name="lieu_naissance"
        type="text"
        class="mt-1 block w-full"
        placeholder="Lieu de naissance"
      />
    </label>

    <span>Professions</span>
    <div class="mt-1 space-y-2">
      {
        Object.entries(PersonneProfessionOptions).map(([key, value]) => (
          <label class="inline-flex items-center gap-2">
            <input type="checkbox" name="profession" value={value} />
            <span>{key}</span>
          </label>
        ))
      }
    </div>

    <button type="submit">Soumettre</button>
  </form>
</Layout>
