---
import "../styles/global.css";
interface Props {
  title?: string;
}
const { title = "Films Astro" } = Astro.props as Props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/">Accueil</a>
      <a href="/personnes">Personnes</a>
      <a href="/films">Films</a>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
